<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../look.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css"/>
</head>
<section ng-controller="formController as formController">
    <form name="ticketForm" novalidate>
        <h2>Detailansicht</h2>

        <!--ng-click ist noch falsch-->
        <input type="submit" ng-click="formController.cancel()" value="zur&uuml;ck">

        <p></p>

        <table>
            <tr>
                <td>Titel:</td>
                <td><input type="text" name="titel" ng-model="formModel.formTicket.titel" ng-disabled="formModel.isEdit"
                           required>
                   <span class="error" ng-show="ticketForm.titel.$invalid">
                       {{formController.getErrorMessage(ticketForm.titel)}}
                   </span>
                </td>
            </tr>
            <tr>
                <td>Beschreibung:</td>
                <td><textarea name="description" rows="4" cols="25" ng-model="formModel.formTicket.description"
                              ng-disabled="formModel.isEdit" required></textarea>
                <span class="error" ng-show="ticketForm.description.$invalid">
                    {{formController.getErrorMessage(ticketForm.description)}}
                </span>
                </td>
            </tr>

            <tr>
                <td>Autor:</td>
                <td><label name="creator"
                           ng-model="formModel.formTicket.creator">{{formModel.formTicket.creator}}</label></td>
            </tr>
            <tr>
                <td>Bearbeiter:</td>
                <td><label ng-model="formModel.formTicket.currentWorker">{{formModel.formTicket.currentWorker}}</label>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><label ng-model="formModel.formTicket.status">{{formModel.formTicket.status}}</label></td>
            </tr>
            <tr>
                <td>Kommentar:</td>
                <td><textarea ng-disabled="!formModel.isEdit" id="commentaryID" rows="4" cols="25"></textarea></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">
                    <input type="submit" value="angelegt" ng-disabled="ticketForm.$invalid"
                           ng-show="formController.checkAngelegt()"
                           ng-click="formController.saveTicket(ticketForm, 0)"/>
                    <input type="submit" value="in Bearbeitung" ng-show="formController.checkBearbeitung()"
                           ng-click="formController.saveTicket(ticketForm, 1)"/>
                    <input type="submit" value="behoben"
                           ng-show="formController.checkBehAbg() && formController.checkRole()"
                           ng-click="formController.saveTicket(ticketForm, 2)"/>
                    <input type="submit" value="abgelehnt"
                           ng-show="formController.checkBehAbg() && formController.checkRole()"
                           ng-click="formController.saveTicket(ticketForm, 3)"/>
                    <input type="submit" value="wiedereröffnet"
                           ng-show="formController.checkWieGes() && formController.checkRole()"
                           ng-click="formController.saveTicket(ticketForm, 4)"/>
                    <input type="submit" value="geschlossen"
                           ng-show="formController.checkWieGes() && formController.checkRole()"
                           ng-click="formController.saveTicket(ticketForm, 5)"/>
                </td>
            </tr>


        </table>

        <p></p>

        <p></p>

        <p></p>

        <h3>Kommentare</h3>

        <table class="table table-bordered table-striped" id="commentaryTable">
            <tr>
                <th>Datum</th>
                <th>Autor</th>
                <th>Kommentar</th>
            </tr>
            <tr ng-repeat="commentary in formModel.formTicket.commentaryList | orderBy: 'date'">
                <!-- chronologisch aufsteigend bedeutet für uns: oben alt, unten neu-->
                <td>{{date_conversion(commentary.date)}}</td>
                <td>{{commentary.creator}}</td>
                <td>{{commentary.text}}</td>
            </tr>
        </table>
    </form>

</section>