<section>
    <h2>Detailansicht</h2>

    <table>
        <tr>
            <td>Bezeichnung:</td>
            <td><input type="text"/></td>
        </tr>

        <tr>
            <td>Beschreibung:</td>
            <!-- Hier soll noch die Höhe angepasst werden: muss ich mir noch anschauen!!-->
            <td><input type="text"/></td>
        </tr>

        <tr>
            <!--Buttons-->
            <td><input type="submit" value ="anlegen" ng-click="ticketController.createTicket()"/></td>
            <td> <input type="submit" value="abbrechen" ng-click="formController.ticketlist()"/> </td>
        </tr>

    </table>

</section>