<head lang="en">
    <meta charset="UTF-8">
    <title>Fehlerverfolgungssystem</title>
</head>
<section ng-controller="listController as listController">
    <form name="ticketForm" novalidate>
        <h2>Liste der Tickets</h2>

        <p></p>

        <input type="submit" value="anlegen" ng-click="listController.newTicket()"/>
        <input type="submit" value="ansicht" ng-click="listController.editTicket(model.selectedTicket)"/>

        <p></p>

        <table>
            <tr>
                <th>Nr.</th>
                <th>Bezeichnung</th>
                <th>Status</th>
                <th>Beschreibung</th>
                <th>Autor</th>
                <th>angelegt</th>
                <th>letzte &Auml;nderung</th>
            </tr>
            <tr ng-repeat="ticket in model.tickets"
                ng-click="listController.selectTicket(model.selectedTicket)" ng-dblclick="listController.editTicket(model.selectedTicket)"
                ng-class="{selectedTicket:(ticket == model.selectedTicket)}">
                <td>{{ ticket.id }}</td>
                <td>{{ticket.titel}}</td>
                <td>{{ticket.status}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.creator}}</td>
                <td>{{ticket.createDateTimestamp}}</td>
                <td>{{ticket.changeDateTimestamp}}</td>
            </tr>
        </table>

    </form>

</section>

