<!DOCTYPE html>
<html ng-app="ticketsystem">
<head lang="en">
    <meta charset="UTF-8">
    <title>Fehlerverfolgungssystem</title>
    <script type="application/javascript" src="bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="js/application.js"></script>
    <script type="application/javascript" src="js/controllers.js"></script>
    <script type="application/javascript" src="js/resources.js"></script>
    <script type="application/javascript" src="js/services.js"></script>
</head>
<body>
<h1>Willkommen im Ticketverfolgungssystem!</h1>

<section ng-controller="regController as regController">
    <h2>Registrieren</h2>

    <form name="regForm">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" id="nameId" required/></td>
            </tr>
            <tr>
                <td>Benutzername:</td>
                <td><input type="text" id="nicknameId" required/></td>
            </tr>
            <tr>
                <td>E-Mail:</td>
                <td><input type="email" id="eMailId" required/></td>
            </tr>
            <tr>
                <td>Passwort:</td>
                <td><input ng-model="password" type="password" id="passwordId" required/></td>
            </tr>
            <tr>
                <td>wiederholen:</td>
                <td><input ng-model="passwordConfirm" type="password" data-match="password" required/></td>
            </tr>

            <tr>
                <td><input type="submit" onclick="location.href='ticket/mainScreen.html'" value="zum Login"/></td>

                <!--//TODO: prüfen, ob Benutzername noch nicht vergeben und PW = PW-->
                <td><input type="submit" ng-click="regController.saveDeveloper(regForm)"
                           onclick="location.href='ticket/mainScreen.html'" value="Registrieren"/></td>
            </tr>

        </table>
    </form>
</section>

</body>
</html>

