table#ticketList tr:nth-child(even) {
    background-color: rgba(22, 211, 0, 0.18);
}
table#ticketList tr:nth-child(odd) {
    background-color: #fff;
}
table#ticketList th {
    color: #000000;
    background-color: rgba(11, 137, 0, 0.82);
}